[Unit]
Description=deskbar daemon
Conflicts=getty@tty1.service
After=input_server.service

[Service]
ExecStartPre=/bin/sleep 0.5
ExecStart=/system/servers/Deskbar
StandardInput=tty-force
StandardOutput=journal+console
StandardError=inherit
Restart=always
RestartSec=500ms

[Install]
WantedBy=graphical.target
