[Unit]
ConditionPathExists=!/var/lib/vos/greeter-enabled
Description=Vitruvian Deskbar
After=janus.service input_server.service notification_server.service
Requires=janus.service

[Service]
Type=forking
PIDFile=/run/vos/Deskbar.pid
ExecStart=/system/servers/janus_launch Deskbar
StandardOutput=append:/var/log/deskbar.log
StandardError=append:/var/log/deskbar.log
Restart=no

[Install]
WantedBy=graphical.target
