[Unit]
Description=Deskbar
Conflicts=getty@tty1.service
Wants=graphical.target
After=graphical.target

[Service]
ExecStart=/system/Deskbar
StandardInput=tty-force
StandardOutput=append:/var/log/deskbar.log
StandardError=append:/var/log/deskbar.log
Restart=no
RestartSec=500ms

[Install]
WantedBy=graphical.target
