[Unit]
Description=mount_server
Conflicts=getty@tty1.service
After=registrar.service

[Service]
ExecStartPre=/bin/sleep 0.5
ExecStart=/system/servers/mount_server
StandardInput=tty-force
StandardOutput=append:/var/log/mount_server.log
StandardError=append:/var/log/mount_server.log
Restart=no
RestartSec=500ms
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
