[Unit]
Description=Vitruvian notification_server
After=janus.service app_server.service
Requires=janus.service app_server.service

[Service]
Type=forking
PIDFile=/run/vitruvian/notification_server.pid
ExecStart=/system/servers/janus_launch notification_server
StandardOutput=append:/var/log/notification_server.log
StandardError=append:/var/log/notification_server.log
Restart=no

[Install]
WantedBy=graphical.target
