[Unit]
Description=notification_server
Conflicts=getty@tty1.service
After=input_server.service

[Service]
ExecStartPre=/bin/sleep 1
ExecStart=/system/servers/notification_server
StandardInput=tty-force
StandardOutput=append:/var/log/notification_server.log
StandardError=append:/var/log/notification_server.log
Restart=no
RestartSec=500ms
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
