[Unit]
Description=Vitruvian registrar (app roster)
Conflicts=getty@tty1.service
After=janus.service
Requires=janus.service

[Service]
Type=forking
PIDFile=/run/vitruvian/registrar.pid
ExecStart=/system/servers/janus_launch registrar
StandardOutput=append:/var/log/registrar.log
StandardError=append:/var/log/registrar.log
Restart=no

[Install]
WantedBy=graphical.target
