[Unit]
Description=registrar server daemon
Conflicts=getty@tty1.service

[Service]
ExecStart=/system/servers/registrar
StandardInput=tty-force
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=500ms

[Install]
WantedBy=graphical.target
