[Unit]
Description=Vitruvian user boot script
After=graphical.target tracker.service NetworkManager.service
Wants=graphical.target

[Service]
Type=oneshot
ExecStart=/bin/bash /home/config/settings/boot/UserBootscript
StandardOutput=append:/var/log/userbootscript.log
StandardError=append:/var/log/userbootscript.log

[Install]
WantedBy=graphical.target
